@use './constants.scss' as *;

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.nav-link {
    color: $color-text;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
    
    &:hover {
        color: $color-accent;
    }

    &--active {
        color: $color-primary;
    }
}